# ;{{ ansible_managed }}

DEFAULT_USER=$(whoami)
ZSH_THEME=agnoster

# OS provided 'command not found' handling
[[ -r /etc/zsh_command_not_found ]] && . /etc/zsh_command_not_found

# History configuration
HISTFILE=~/.zsh_history
HISTSIZE=1000000
SAVEHIST=1000000
setopt appendhistory notify extendedhistory sharehistory
setopt histignoredups histignorespace extendedglob

# Key sequence definition
bindkey -v # Vi style keys
bindkey '^R' history-incremental-search-backward

# Completion related
zstyle :compinstall filename "/home/${DEFAULT_USER}/.zshrc"

# Other
autoload -Uz compinit
compinit
export EDITOR=vim

# Emulate MacOS pbcopy and pbpaste commands
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

####
# Zplug
####

source {{ zplug_zshrc_path }}/init.zsh

{{ zplug_zshrc_content }}

if ! zplug check --verbose; then
    zplug install
fi

# Install plugins if there are plugins that have not been installed
if ! zplug check --verbose; then
     printf "Install? [y/N]: "
     if read -q; then
         echo; zplug install
     fi
fi

zplug load # --verbose

# Fuzzy search and asdf
[ -e ~/.fzf.zsh ] || ln -s /usr/share/doc/fzf/examples/completion.zsh $HOME/.fzf.zsh
[ -e ~/.fzf.zsh ] && source $HOME/.fzf.zsh
[ -e ~/.asdf/asdf.sh ] && source $HOME/.asdf/asdf.sh
[ -e ~/.asdf/completions/asdf.bash ] && source $HOME/.asdf/completions/asdf.bash

# Paths
export PATH="$PATH:$HOME/.local/bin"
